# Telegram Config
TEL_API_ID=0
TEL_API_HASH=your_hash_here
TEL_BOT_TOKEN=your_token_here
TEL_ADMIN_IDS=12345678,98765432
TEL_START_TXT=متن شروع ربات
TEL_HELP_TXT=متن راهنما
TEL_ADS_CHANNELS=@tel2bale
TEL_MAX_FILE_SIZE=20
TEL_IN_MEMORY=True

# Telegram Proxy Config
TEL_PROXY_SCHEME=socks5
TEL_PROXY_HOST=127.0.0.1
TEL_PROXY_PORT=10808


# Bale Proxy Config
# BALE_PROXY_SCHEME=
# BALE_PROXY_HOST=
# BALE_PROXY_PORT=